<navbar></navbar>
    <section class="p-10 container" id="section">
        <div class="container text-center">
          <h2></h2>
    <p class="text-5xl p-4">LET'S CHAT.</p>
          <h3 class="text-indigo-500">Lorem ipsum - dolor</h3>
          <div >
            <p class="text-indigo-500 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis.</p>
          </div>
        </div>
      </section>
  
  