<navbar></navbar>

<div class="container my-46" *ngIf="!uploading">
    <img src="./../../../assets/img/spinner.svg" class="h-40 my-40 w-full" alt="loading">
  </div>


<div *ngIf="uploading"   class="container  p-10 w-full ">
  <p class="text-5xl p-4 capitalize">upload what you selling!...</p>

  <form class="content-center w-full max-w-lsg">
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">

        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="adName">
          Product Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="adName" type="text" name="name" required [(ngModel)]="adDetails.name"
          placeholder="BMW, VW Bettle, Kettle, etc.">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="price">
          Product Price
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="adPrice" type="text" name="price" required [(ngModel)]="adDetails.price" placeholder="$34 00.90">
      </div>


      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="address">
          Location
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="adLocation" type="text" required name="address" [(ngModel)]="adDetails.address"
          placeholder="143 Holly Street, Gardiner, Delaware, 7580">
      </div>
    </div>
    <div class="md:flex-1 px-3 text-center">
      <div class="button bg-indigo-300 hover:bg-indigo-400 text-cream-300 mx-auto cusor-pointer relative">
        <input class="opacity-0 absolute pin-x pin-y" type="file" name="cover_image" (change)="profileDetect($event)"
          id="ad-picture">
        Add Ad Image
      </div>
      <div *ngIf="adPicture" class="shadow w-64 bg-grey-light">
        <p>{{adPicture?.name}} | {{adPicture?.progress | number}}% Complete</p>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2 mt-10">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
          Posted by
        </label>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="phone">
          Cell
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="phone" type="text"  [disabled]="true" name="phone" [(ngModel)]="adDetails.phone">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
          Email
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="email" type="text" [disabled]="true" name="email" [(ngModel)]="adDetails.email">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          Category
        </label>
        <div class="relative">
          <select (change)="filterForeCategory($event.target.value)"
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state">
            <option value="0">--All--</option>
            <option *ngFor="let category of categories" value={{category}}>
              {{category}}
            </option>

          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="md:flex mb-6">
      <div class="md:w-1/3">
        <legend class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Description</legend>
      </div>
      <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
        <textarea required [(ngModel)]="adDetails.slug" id="slug" name="slug" class="w-full shadow rounded p-4 border-4"
          placeholder="The most amazing product you can get your hands on." rows="6"></textarea>
      </div>
    </div>

    <div class="md:flex mb-6 border border-t-1 border-b-0 border-x-0 border-cream-dark">
      <div class="md:flex-1 px-3 text-center md:text-right">
        <input type="hidden" name="sponsor" value="0">
        <div class="button text-grey-300 bg-brick hover:bg-grey-700" type="submit" value="Create Location"></div>
      </div>
    </div>
    <div class="md:flex mb-6   ">
      <div class="md:flex-1 px-3 text-center md:text-right">
        <button (click)="addAPost()" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
          Create Ad
        </button>
      </div>
    </div>
  </form>
</div>
