<navbar></navbar> 
 



<div class="conatainer" *ngIf="!item">
  <img src="./../../../assets/img/spinner.svg" class="h-40 rounded my-40 w-full" alt="loading">
</div>
<div *ngIf="item" class="w-full  px-6 py-12 text-left bg-gray-300 text-gray-700 leading-normal">
  <div class="container max-w-4xl mx-auto flex justify-center flex-wrap md:flex-no-wrap">

    <div class="w-full md:w-2-3 pt-10 md:px-6 md:pt-0">
      <img src="{{item.picture}}" class="w-full h-auto" />
    </div>


    <div class="w-full md:w-1-3">
      <h3 class="text-3xl mb-8 text-black leading-tight">
        <span class="text-indigo-500 capitalize"> Product Name: </span> {{item.name}}
      </h3>
      <p class="text-indigo-500 capitalize">Price: </p> {{item.price}} <br>
      <p class="text-indigo-500 capitalize"> Posted by:</p> {{item.email}}
      <p class="text-indigo-500 capitalize"> Cell:</p> {{item.phone}}
      <p class="text-indigo-500 capitalize">Location: </p> {{item.address}} <br>
      <p class="text-indigo-500">Date posted: </p> {{item.registered | date:'medium' }}
      <p class="text-indigo-500 mb-2">Product Description: </p>

      <p class="mfb-10">{{item.slug}}</p><br>
<div class="md:flex mb-6   ">
        <div class="md:flex-1 px-3 text-center md:text-right">
          <button (click)="ontactSeller()" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
            Contact Seller
          </button>
        </div>
      </div>

    </div>
    


  </div>
</div>