


<navbar></navbar>







<!-- <input [(ngModel)]="searchText" placeholder="search text goes here"> -->


<br>
<br>
<div class="container">
  <div class="  flex flex-wrap -mx-2">
    <div *ngFor="let element of listingData | filter : searchText; let i = index"
      class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 px-2 mb-4">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src=" https://picsum.photos/id/23{{i}}/200/300" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"> {{element.email}} </div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 py-4">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="bg-gray-100">
  <div class="container mx-auto px-6 py-20">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
      Testimonials
    </h2>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
          <p class="text-gray-800 text-base px-6 mb-5">Monitoring and tracking my health vitals anywhere I go and on any
            platform I use has never been easier.</p>
          <p class="text-gray-500 text-xs md:text-sm px-6">John Doe</p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
          <p class="text-gray-800 text-base px-6 mb-5">As an Athlete, this is the perfect product for me. I wear my
            Smart Health Monitoring Wristwatch everywhere i go, even in the bathroom since it's waterproof.</p>
          <p class="text-gray-500 text-xs md:text-sm px-6">Jane Doe</p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
          <p class="text-gray-800 text-base px-6 mb-5">I don't regret buying this wearble gadget. One of the best
            gadgets I own!.</p>
          <p class="text-gray-500 text-xs md:text-sm px-6">James Doe</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #667eea">
  <div class="container mx-auto px-6 text-center py-20">
    <h2 class="mb-6 text-4xl font-bold text-center text-white">
      Limited in Stock
    </h2>
    <h3 class="my-4 text-2xl text-white">
      Get yourself the cheapest items while stocklast!
    </h3>
    <button class="bg-white font-bold rounded-full mt-6 py-4 px-8 shadow-lg uppercase tracking-wider">
      Order
    </button>
  </div>
</section>
<app-footer></app-footer>